* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    padding: 15px;
    justify-content: stretch;
    align-items: stretch;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #1C1C1C;
    text-align: center;
    background-color: white;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px;
}

p {
    margin: 0;
    font-size: 20px;
    color: #454545;
    font-weight: 600;
}

button {
    all: unset;
    padding: 13px 27px;
    background-color: #3E7BF2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #3771e1;
}

button:disabled {
    background-color: #D9D9D9;
    color: #454545;
    cursor: not-allowed;
}

button .loader {
    display: none;
    margin-bottom: -5px;
    width: 23px;
    height: 23px;
    border-color: white;
    border-width: 3px;
    border-bottom-color: transparent;
}

.loader {
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    border: 4px solid #1C1C1C;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message-container {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: end;
    justify-content: center;
    padding: 25px;
    pointer-events: none;
}

#message {
    display: inline-block;
    visibility: hidden;
    transform: translateY(calc(100% + 25px));
    font-weight: 600;
    font-size: 18px;
    padding: 12px 18px;
    background-color: #E75858;
    color: white;
    border-radius: 9px;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: calc(100dvh - 30px);
    height: fit-content;
    padding: 50px 15%;
}

.background {
    background-color: #FAFAFA;
    border-radius: 10px;
    border: 2px solid #EFEFEF;
}

/*#login-section {*/
/*    display: none;*/
/*}*/

#login-button-loader {
    display: inline-block;
}
#login-button-text {
    display: none;
}

#waiting-section {
    display: none;
}

#countdown {
    display: none;
    font-size: 85px;
    margin-bottom: 5px;
}

.waiting-description {
    max-width: 650px
}

#form-section {
    display: none;
    padding: 50px 5%;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 0;
}

#form-fieldset {
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    gap: 10px;
    justify-content: center;
    margin: 0;
    padding: 35px 45px;
    border-radius: 18px;
}

.event-parent {
    display: flex;
    gap: 12px;
    text-align: left;
}

input[type=radio] {
    all: unset;
    cursor: pointer;
    height: 16px;
    width: 16px;
    min-width: 16px;
    border-radius: 50%;
    outline: none;
    border: 2px solid #D9D9D9;
    background-color: white;
    margin: 2px 0 0;
    transition: background-color 0.03s, border-color 0.03s;
}

input[type=radio]:disabled {
    border-color: #CECECE;
    background-color: #D9D9D9;
    cursor: not-allowed;
}

input[type=radio]:hover:not(:disabled) {
    background-color: #FAFAFA;
}

input[type=radio]:disabled:not(:checked) + label .event-name {
    color: #A7A7A7;
}
input[type=radio]:disabled:not(:checked) + label .event-teachers {
    color: #B7B7B7;
}
input[type=radio]:disabled:not(:checked) + label .event-availability {
    background-color: #BABABA !important;
}

input[type=radio]:checked {
    border-color: #3E7BF2;
    background-color: white;
}
input[type=radio]:checked:disabled {
    border-color: #3E7BF2;
    background-color: white;
    cursor: not-allowed;
}


input[type=radio]:checked::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin: calc((16px - 12px) / 2);
    background-color: #3E7BF2;
    border-radius: 50%;
}

label {
    cursor: pointer;
    white-space: nowrap;
    display: grid;
    grid-template-columns: minmax(0, min-content) 1fr;
}
input:disabled+label {
    cursor: not-allowed;
}

.stop-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.event-name {
    font-size: 19px;
    font-weight: 700;
    color: #1C1C1C;
}

.event-availability {
    display: inline-block;
    padding: 5px 8px;
    background-color: #80D463;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    position: relative;
    top: -1px;
    justify-self: start;
}

.event-teachers {
    font-size: 17px;
    font-weight: 600;
    color: #454545;
    grid-column-start: span 2;
}

@media screen and (max-width: 600px) {
    #form-fieldset {
        grid-template-columns: repeat(1, minmax(0, max-content));
    }
}

@media screen and (max-width: 800px) {
    .section {
        padding: 50px 20px;
    }

    h1 {
        font-size: 25px;
    }
    
    #countdown {
        font-size: 40px;
    }

    p {
        font-size: 17px;
    }

    button {
        font-size: 18px;
    }

    .background {
        border-radius: 18px;
    }

    .event-name {
        font-size: 17px;
    }

    .event-availability {
        font-size: 12px;
    }

    .event-teachers {
        font-size: 15px;
    }

    #message {
        font-size: 16px;
        padding: 10px 15px;
    }

    #form-section {
        padding: 0 0 20px;
    }

    #form-fieldset {
        padding: 25px 20px;
    }
}