* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #1C1C1C;
    background-color: white;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px;
    text-align: center;
}

p {
    margin: 0;
    font-size: 20px;
    color: #454545;
    font-weight: 600;
}

button {
    all: unset;
    padding: 13px 27px;
    background-color: #3E7BF2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #3771e1;
}

.red {
    background-color: #E75858;
}
button.red:not(:disabled):hover {
    background-color: #D94A4A;
}

button:disabled {
    background-color: #D9D9D9;
    color: #454545;
    cursor: not-allowed;
}

.message-container {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: end;
    justify-content: center;
    padding: 25px;
    pointer-events: none;
}

#message {
    display: inline-block;
    visibility: hidden;
    transform: translateY(calc(100% + 25px));
    font-weight: 600;
    font-size: 18px;
    padding: 12px 18px;
    background-color: #E75858;
    color: white;
    border-radius: 9px;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: calc(100dvh - 30px);
    height: fit-content;
    padding: 50px 15%;
}

.background {
    background-color: #FAFAFA;
    border-radius: 10px;
    border: 2px solid #EFEFEF;
}

@media screen and (max-width: 800px) {
    .section {
        padding: 50px 20px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 17px;
    }

    button {
        font-size: 18px;
    }

    .background {
        border-radius: 18px;
    }

    #message {
        font-size: 16px;
        padding: 10px 15px;
    }
}